{% extends 'sampleformhome.html'%}
{% load static %}
{% block title%} About us |
{% endblock title %}

{% block content %}


    <style>
            .container { height: 50%; width: auto; text-align: center; padding-top: 150px;  
            margin: 100px; background: url("../img/about-us.jpg") 50% 0 no-repeat; }
    </style>

        <div class="container">
            <h1> About us </h1>
            <p>There is no solitude in the world like that of the big city.</p>

        </div>
 
        

 {% endblock %}  