{% extends 'sampleformhome.html'%}
{% load static %}
{% block title%} Contact us |
{% endblock title %}

{% block content %}


    <style>
            https://source.unsplash.com/user/erondu/1600x900

            img { height: 300px; min-width: 100%;  }

            .body-container { display: flex; justify-content: center; height: 100%;  padding: 0px; 
            margin: 100px; border: 1px solid red; }

            .heading { padding: 20px;  width: 300px;}

            .flex-container { display: flex; justify-content: center;  margin: 50px 10px; height: auto; width: 100%; padding: 30px; flex-flow: row wrap; 
            background: url({% static "img/contactbackg.jpg" %}) 50% 0 repeat; border: 1px solid red; }

            .cards { height: 200px; width: 250px; margin: 10px 10px; color: white; text-align: center;
         padding-top: 40px; align-content: center; background-color: #19334d; 
        transition: box-shadow .3s; border-radius: 6px; text-align: center; }


            h1 {color: white; font-size: 35px; }
    </style>

<body>
    
        <div class="body-container">

            <div class="heading">
                <h1> Contact us </h1>
            </div>
            

                <div class="flex-container">   

                    
                    <div class="cards">

                        <h2> Address </h2>

                    </div>

                    <div class="cards">

                        <h2> Phone </h2>

                    </div>

                    <div class="cards">

                        <h2> Email </h2>

                    </div>

                   
                    </div>

                </div>

        </div>
 
</body>

 {% endblock %}  